* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: white;
    color: black;
}

.flex {
    display: flex;
}

/* Estilo cabeçalho */
.logo img {
    max-width: 150px;
    /* Ajuste o valor conforme necessário */
    width: auto;
    height: auto;
}

header {
    padding: 10px 2%;
    background-color: black;
    position: absolute;
    top: 0;
    margin-top: auto;
    left: 0;
    right: 0;
    z-index: 999;

}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;

}



.header-inner-content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    text-decoration: none;
}

.navbar ul a {
    text-decoration: none;
    /* Remove o sublinhado */
    color: inherit;
}

.nav-icon-container {
    display: flex;
    align-items: center;
}

.nav-icon-container i {
    width: 80px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.nav-icon-container i:first-child {
    margin-right: 1rem;

}

.navbar ul li {
    color: #fff;
    margin-right: 1.5rem;
    cursor: pointer;
}

.header-inner-content ul li {
    display: inline-block;
    padding: 0 30px;
}

.navbar ul li:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

.nav-icon-container i:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

/* esrilo carrinho*/

.lista-cadastro{
    display: flex;
    margin: 20px 0;
    padding:0 20px;
}

.lista-cadastro input[type=text]{
    flex: 1;
    height: 40px;
    padding-left: 20px;
    background-color: white;

}

.lista-produtos-single{
    padding: 10px 0;
    margin: 20px 0;
    border-bottom: 1px solid white;
    display: flex;
}

.lista-produtos-single h3{
    flex: 1;
    padding: 0 30px;
}

.container-carrinho h2{
    margin-left: 20px;
}
.soma-produtos h1{
    margin-left: 20px;
    color: #ccc;
}

#limpar-btn{
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 15px;
    text-transform: uppercase;
    background-color: #9c0000;
    color: #fff;
    font-size: 25px;
    padding: 10px 40px;
    cursor: pointer;
    font-weight: bold;
    width: auto;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

#limpar-btn:hover {
    background-color: #fff;
    color: #9c0000;
}

#btn-cadastrar{
    background-color: #fff;
    width: auto;
}