* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: white;
    color: black;
}

.flex {
    display: flex;
}

/* Estilo cabeçalho */
.logo img {
    max-width: 150px;
    /* Ajuste o valor conforme necessário */
    width: auto;
    height: auto;
}

header {
    padding: 10px 2%;
    background-color: black;
    position: absolute;
    top: 0;
    margin-top: auto;
    left: 0;
    right: 0;
    z-index: 999;

}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;

}



.header-inner-content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    text-decoration: none;
}

.navbar ul a {
    text-decoration: none;
    /* Remove o sublinhado */
    color: inherit;
}

.nav-icon-container {
    display: flex;
    align-items: center;
}

.nav-icon-container i {
    width: 80px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.nav-icon-container i:first-child {
    margin-right: 1rem;

}

.navbar ul li {
    color: #fff;
    margin-right: 1.5rem;
    cursor: pointer;
}

.header-inner-content ul li {
    display: inline-block;
    padding: 0 30px;
}

.navbar ul li:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

.nav-icon-container i:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

/* esrilo carrinho*/

.container {
    display: flex;
    justify-content: center;
}

.item h2{
    text-align: center;
}
.btn{
    display: flex;
    margin: 24px auto 0;
    border-radius: 15px;
    text-transform: uppercase;
    background-color: #9c0000;
    color: #fff;
    font-size: 25px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    width: auto;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn:hover {
    filter: brightness(0.8);
}

.cart-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table-head-item{
    text-align: start;
    margin-top: 100px;
    border-bottom: 1px solid #959595;
    padding-bottom: 6px;
    text-transform: uppercase;
}


.cart-product td{
    padding: 8px 0;

}

.product-identification{
    display: flex;
    align-items: center;
}

.cart-product-image{
    width: 200px;
    height: 150px;   
}

.cart-product-title{
    margin-left: 16px;
    font-size: 18px;
}

.cart-product-price{
    font-family: arial;
    margin: 20px;
}

.product-qtd-input{
    width: 48px;
    height: 34px;
    border-radius: 6px;
    border: 2px solid #9c0000;
    text-align: center;
    background-color: #fff;
}

.remove-product-button{
    margin-left: 12px;
    background-color: red;
    color: white;
    padding: 10px 8px;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
}

.remove-product-button:hover{
    filter: brightness(0.8);
}

.card-total-container{
    border-top: 1px solid #959595;
    text-align: end;
    padding: 6px 16px 0 0;
    font-size: 18px;
}

.card-total-container strong{
    margin-right: 12px;
}